<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
    crossorigin="anonymous"></script>

<div class="footer-item" style="padding: 0px;">
    <img src="/images/suitt.png" alt="icon catatan">
    <p style="text-align: center;">Catatan Pemasukan
        <br>dan Pengeluaran</p>
</div>
<div class="footer-item" style="padding: 0px;">
    <img src="/images/suitt.png" alt="icon pengingat">
    <p style="text-align: center;">Pengingat Pembayaran
        <br>Tagihan/Cicilan</p>
</div>
<div class="footer-item" style="padding: 0px;">
    <img src="/images/suitt.png" alt="icon kelola">
    <p style="text-align: center;">Mengelola keuangan
        <br>lebih bijak</p>
</div>